#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.box {
  margin-top: 40px;
  min-width: 350px;
  padding: 40px 40px 30px 40px;
  box-shadow: 1px 3px 18px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

input {
  margin: 10px 0 10px 0;
  padding: 8px;
}

label {
  text-align: left;
}

.forgot {
  margin-top: 10px;
  text-align: right;
}

.back {
  color: #a1a1aa;
  margin-top: 30px;
  text-align: left;
}

.important {
  color: red;
}
